# Python
venv/
__pycache__/
*.pyc

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.vscode/
.idea/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Base vectorielle ChromaDB
backend/chroma_db/

# Fichiers uploadés
backend/uploads/

# Environment variables
.env
backend/.env